/* Classes */
.center {
    text-align: center;
}

.centernottext {
    margin-left: auto;
    margin-right: auto;
}

.page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: rgb(105, 105, 105);
}

.coteacote {
    display: flex;
}

.entetetable {
    font-weight: bold;
    font-size: 20px;
}

.vert {
    color: rgb(125, 199, 107);
}

.rouge {
    color:rgb(253, 114, 114);
}

/* Maps */
.googleMap {
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Propriétés de l'en-tête */
header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(238, 238, 238);
    background-color: rgb(56, 56, 56);
}

header table {
    border-collapse: collapse;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

header a:link { 
    text-decoration: none;
}

header a {
    color: rgb(238, 238, 238);
}

header a:hover {
    color: rgb(70, 70, 70);
}

#menu {
    background-color: rgb(125, 199, 107);
    text-align: center;
}

#nompage {
    text-align: right;
}

#iduser {
    color:rgb(253, 114, 114);
}

.coteacote h4 {
    padding-left: 5px;
}

/* Propriétés de la page */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#parkdispo, #heureactu {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#parkdispo tr td, #heureactu tr td {
    padding-left: 10px;
    padding-right: 10px;
}

#h1 {
    font-size: 25px;
}

#map {
    height:500px;
    width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#qsecreteform {
    width: 610px;
}

#changermdpform {
    width: 470px;
    visibility: hidden;
}

#changermdpbutton {
    visibility: hidden;
}

/* Propriétés du pied de page */
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}